@model InvoiceLines

@if (Model.Lines.Any())
{
  <table class="table table-xs">
    <thead class="bg-base-100 z-50">
    <tr>
      <th>@Html.DisplayNameFor(m => m.Lines[0].ProductId)</th>
      <th class="w-28 text-right">@Html.DisplayNameFor(m => m.Lines[0].UnitPriceNet)</th>
      <th class="w-32">@Html.DisplayNameFor(m => m.Lines[0].CurrencyCode)</th>
      <th class="w-24 text-right">@Html.DisplayNameFor(m => m.Lines[0].Quantity)</th>
      <th class="w-24">@Html.DisplayNameFor(m => m.Lines[0].Unit)</th>
      <th class="w-28 text-right">@Html.DisplayNameFor(m => m.Lines[0].BaseValueNet)</th>
      <th class="w-28 text-right">@Html.DisplayNameFor(m => m.Lines[0].ValueNet) (@Model.CurrencyCode)</th>
      <th class="w-24 text-right">@Html.DisplayNameFor(m => m.Lines[0].SalesTax)</th>
      <th class="w-28 text-right">@Html.DisplayNameFor(m => m.Lines[0].ValueGross) (@Model.CurrencyCode)</th>
      <th class="w-8"></th>
    </tr>
    </thead>
    <tbody>
    @for (var index = 0; index < Model.Lines.Count; index++)
    {
      var focus = Model.FocusLastLine && index == Model.Lines.Count - 1;

      <tr class="hover @(focus ? "init" : null)" x-hydro-focus="@(focus ? "input" : null)">
        <td>
          <field-product field="Lines[index].ProductId" label="" />
        </td>
        <td>
          <field-number field="Lines[index].UnitPriceNet" label="" align="right" />
        </td>
        <td class="">
          <field-currency field="Lines[index].CurrencyCode" label="" />
        </td>
        <td>
          <field-text field="Lines[index].Quantity" align="right" label="" />
        </td>
        <td>
          <field-text field="Lines[index].Unit" align="right" label="" />
        </td>
        <td class="text-right">
          @Model.Lines[index].BaseValueNet.ToString("#,##0.00") @Model.Lines[index].CurrencyCode
        </td>
        <td class="text-right">
          @Model.Lines[index].ValueNet.ToString("#,##0.00")
        </td>
        <td>
          <field-number field="Lines[index].SalesTax" align="right" label="" />
        </td>
        <td class="text-right">
          @Model.Lines[index].ValueGross.ToString("#,##0.00")
        </td>
        <td class="align-middle text-end">
          <button
            type="button"
            on:click="@(() => Model.InvoiceActions.RemoveLine(index))"
            class="btn btn-outline btn-xs h-8 border-base-content/20">
            <partial name="Icons/CrossIcon" />
          </button>
        </td>
      </tr>
    }
    </tbody>
  </table>
}

<div class="my-4 pb-32">
  <button
    type="button"
    on:click="@(() => Model.InvoiceActions.AddLine())"
    class="btn">
    Add line
  </button>
</div>