@model EditInvoice

<form class="flex flex-col flex-1" method="post" x-hydro-focus="@(Model.IsMount ? "input" : null)">
  <div class="flex-1 overflow-y-auto">
    <div class="p-4">
      <div class="text-xl mb-3 font-bold">Edit invoice @Model.Number</div>

      <div class="flex space-x-12 mb-8">
        <div class="flex-none w-72">
          <field-customer field="CustomerId" auto-focus />

          @if (Model.CustomerId != null)
          {
            <customer-form-info id="@Model.CustomerId" key="@Model.CustomerId" />
          }
        </div>
        <div class="flex-none w-36">
          <field-date field="IssueDate" />
          <field-text field="PaymentTerms" />
        </div>
        <div class="flex-none w-36">
          <field-currency field="CurrencyCode" />
          <field-date field="DueDate" />
        </div>
        <div class="flex-none w-72">
          <field-text field="Remarks" rows="3" />
        </div>
        <div class="flex-none w-72">
          <invoice-summary
            currency-code="@Model.CurrencyCode"
            value-net="@Model.ValueNet"
            value-tax="@Model.ValueTax"
            value-gross="@Model.ValueGross"
            tax-groups="@Model.TaxGroups" />
        </div>
      </div>

      <invoice-lines
        lines="Model.Lines"
        currency-code="@Model.CurrencyCode"
        focus-last-line="@Model.FocusLastLine"
        invoice-actions="Model" />
    </div>
  </div>
  <div class="flex p-4 gap-2">
    <button class="btn btn-primary" type="submit" on:click="@(() => Model.Save())">
      <span class="loading loading-spinner loading-sm spinner" aria-hidden="true"></span>
      <span>Save changes</span>
    </button>

    <button type="button" class="btn btn-outline-secondary" on:click="@(() => Model.Back())">
      <span class="loading loading-spinner loading-sm spinner" aria-hidden="true"></span>
      Cancel
    </button>
  </div>
</form>